<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dailysharing.Dao.DaoMapper">
    <insert id="insertDaily">
        insert into daily (writer,content,count,people) values (#{writer},#{content},#{count},#{people})
    </insert>

    <select id="getDaily" resultType="com.example.dailysharing.enity.Daily">
        select * from daily order by id DESC limit #{start},#{end};
    </select>
    <select id="getUserName" resultType="java.lang.String">
        select username from user where root = #{root};
    </select>
    <select id="checkUser" resultType="com.example.dailysharing.enity.User">
        select * from user where root = #{root} and password = #{password};
    </select>
</mapper>